{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type = "text/css" href="{% static 'salon/css/success_style.css' %}" rel="stylesheet">
    <title>Success</title>
</head>

<body>
    <div class="main">
        <div class="content">
            <div class="main-text">
                <h1>Success!</h1>
            </div>
        </div>
        <a href="{% url 'hub' %}"><div class="button">ok</div></a>
    </div>
</body>
</html>