
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type = "text/css" href="{% static 'salon/css/welcome_style.css' %}" rel="stylesheet">
    <title>Welcome</title>
</head>

<body>
    <div class="main">
        <div class="content">
            <div class="main-hello">
                <h1>Nice to meet you!</h1>
                <p>Any updates? Let's just do it.</p>
                <p>Just press the start button.</p>
            </div>
        </div>
        <a href="{% url 'hub' %}"><div class="button">start</div></a>
    </div>
</body>
</html>